body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/pexels-pixabay-209831.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.app_div{
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  text-align: center;
  color: aliceblue;
  position: relative;
  left: 30%;
  top: 50px;
}
.container{
  margin-top: 20;
  font-size: 25px;
}
input{
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  font-style: italic;
  font-size: 15px;
  border: transparent;
  text-align: center;
}
input:hover{
  transform: scale(1.05);
}
button{
  width: 100px;
  height: 40px;
  transition: 0.2s;
  background-color: cornsilk;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: transparent;
}
button:hover{
  transform: scale(1.05);
  outline: none;
}